/.vscode
/Copernicus_Scatterometer
/results_folder
/satellite_indices
buoy_validation/data/buoy_positions.npz
buoy_validation/data/data.tar
buoy_validation/data/read_data.ipynb
buoy_validation/data/README_wind.txt
buoy_validation/data/w0n0e_10m.cdf
buoy_validation/data/w0n3w_10m.cdf
buoy_validation/data/w0n10w_10m.cdf
buoy_validation/data/w0n23w_hr.cdf
buoy_validation/data/w0n35w_hr.cdf
buoy_validation/data/w4n23w_hr.cdf
buoy_validation/data/w4n38w_hr.cdf
buoy_validation/data/w6s10w_10m.cdf
buoy_validation/data/w6s10w_hr.cdf
buoy_validation/data/w8n38w_10m.cdf
buoy_validation/data/w8s30w_10m.cdf
buoy_validation/data/w8s30w_hr.cdf
buoy_validation/data/w10s10w_hr.cdf
buoy_validation/data/w12n23w_hr.cdf
buoy_validation/data/w12n38w_10m.cdf
buoy_validation/data/w14s32w_10m.cdf
buoy_validation/data/w14s32w_hr.cdf
buoy_validation/data/w15n38w_hr.cdf
buoy_validation/data/w19s34w_10m.cdf
buoy_validation/data/w20n38w_hr.cdf
buoy_validation/data/w20s10w_10m.cdf
buoy_validation/data/w20s10w_hr.cdf
buoy_validation/data/w21n23w_hr.cdf
figures_split/data_split_map.png
old/01_REVIEW_test_old.py
review/Estimating_Near_Surface_Wind_Speed_from_Geostationary_Satellite_Images_Using_Deep_Learning_AMS_AI4ES.pdf
review/review.md
saved_files/file_preloaded_2022-01-01_C06.npz
saved_files/file_preloaded_2022-03-01_C06.npz

windscangeo/__pycache__/__init__.cpython-314.pyc
windscangeo/__pycache__/func_inference.cpython-314.pyc
windscangeo/__pycache__/func_ml.cpython-314.pyc
windscangeo/__pycache__/func.cpython-314.pyc
windscangeo/__pycache__/impl.cpython-314.pyc
windscangeo/__pycache__/main_func.cpython-314.pyc
windscangeo/__pycache__/Models.cpython-314.pyc
.DS_Store
